[Unit]
Description=Open112 P2000 Receiver
After=network.target

[Service]
Type=simple
WorkingDirectory={PWD}/src
ExecStart={PWD}/venv/bin/python monitor.py
Restart=on-failure
KillMode=mixed

[Install]
WantedBy=multi-user.target
